BOOTSOURCE="https://github.com/u-boot/u-boot.git" #
BOOTBRANCH="commit:cb493752394adec8db1d6f5e9b8fb3c43e13f10a" #
BOOTPATCHDIR="u-boot-turing-rk1"
UBOOT_TARGET_MAP="ROCKCHIP_TPL=$RKBIN_DIR/rk35/rk3588_ddr_lp4_2112MHz_lp5_2736MHz_v1.08.bin BL31=$RKBIN_DIR/$BL31_BLOB spl/u-boot-spl.bin all;; idbloader.img u-boot.itb"
